.admin-dashboard-table{
  width: 100%;
  /* border: 2px solid red; */
  border-radius: .5rem;
  padding: 1rem;
}

.admin-dashboard-table thead{
  text-align: left;
  background-color: green;
  color: #eee;
}
.admin-dashboard-table tr th, td{
 padding-left:.5rem;
 height:1.5rem;
}
.admin-dashboard-table tbody tr:nth-child(even){
  background-color: #999;
}  

.create-ticket{
  display: grid;
  margin: auto 30%;
  border: 2px solid red;
  padding:1rem;
  border-radius: .5rem;
}
.create-ticket h4{
  margin-bottom:1.5rem;
  text-align: center;
}
.create-ticket input, select, button{
  height:2rem;
  padding: .5rem;
  margin-bottom: 1rem;

}